### üì¶ Briefing do Projeto ‚Äì Vendas XPTO

#### üß© Cen√°rio
A empresa XPTO est√° em expans√£o e deseja modernizar suas decis√µes comerciais com base em dados.

O departamento de vendas forneceu dois arquivos para a equipe de dados:
- `base_vendas.csv`: com as vendas realizadas.
- `aumento.csv`: com os percentuais de aumento dos produtos por categoria.

#### üéØ Objetivos do Projeto
1. Aplicar os percentuais de acr√©scimo √†s vendas e criar uma nova coluna com o valor ajustado.
2. Realizar um comparativo por categoria (antes e depois do acr√©scimo).
3. Calcular a comiss√£o de cada vendedor (2,5% sobre o total vendido).
4. Gerar gr√°ficos para apoiar a an√°lise (barras comparativas e comiss√£o).
5. Organizar os dados e simular o envio dos resultados por e-mail.

#### üîç Situa√ß√£o Problema

A empresa XPTO forneceu dois arquivos CSV:

- `base_vendas.csv`: registros das vendas realizadas.
- `aumento.csv`: percentuais de aumento por categoria de produto.

Sua miss√£o:
1. Aplicar os percentuais de aumento aos dados de venda.
2. Calcular a comiss√£o dos vendedores (2,5%).
3. Realizar an√°lises agregadas por categoria e por vendedor.
4. Gerar gr√°ficos comparativos.
5. Responder o Desafio.


#### üí° O que se espera de voc√™?
- Que organize os dados de forma clara e limpa;
- Aplique os c√°lculos e gere as visualiza√ß√µes corretamente;
- Responda aos desafios e complete os blocos de c√≥digo propostos.


#### Esse projeto √© um √≥timo exemplo de como Python pode ser usado para automatizar an√°lises comerciais reais. üòâ
---

### Etapa 1: Instala√ß√£o de bibliotecas

Execute o c√≥digo abaixo para instalar a biblioteca `chardet` se necess√°rio ou repita o processo para as demais bibliotecas.

In [1]:
%pip install chardet

Collecting chardet
  Downloading chardet-5.2.0-py3-none-any.whl.metadata (3.4 kB)
Downloading chardet-5.2.0-py3-none-any.whl (199 kB)
Installing collected packages: chardet
Successfully installed chardet-5.2.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#%pip install chardet
%pip install pandas
%pip install matplotlib
%pip install seaborn

Requirement already satisfied: chardet in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (5.2.0)
Note: you may need to restart the kernel to use updated packages.
Collecting pandas
  Using cached pandas-2.2.3-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.2.4-cp311-cp311-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp311-cp311-win_amd64.whl (11.6 MB)
Downloading numpy-2.2.4-cp311-cp311-win_amd64.whl (12.9 MB)
   ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
   --- ------------------------------------ 1.0/12.9 MB 8.5 MB/s eta 0:00:02
   ----------- ---------------------------- 3.7/12.9 MB 11.5 MB/s eta 0:00:01
   --------------------- ------------------ 6.8/12.9 MB 12.3 MB/s eta 0:00:01
   -------------------------------- ------- 10.5/12.9 MB 13.9 MB/s eta 0:00:01
   ---------------------------------------- 12.9/12.9 MB 14.0 MB/s eta 0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.4 pandas-2.2.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.
Collecting matplotlib
  Using cached matplotlib-3.10.1-cp311-cp311-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.3.1-cp311-cp311-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.57.0-cp311-cp311-win_amd64.whl.metadata (104 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Using cached kiwisolver-1.4.8-cp311-cp311-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from matplotlib) (2.2.4)
Requirement already satisfied: packaging>=20.0 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Using cached pillow-11.1.0-cp311-cp311-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Using cached matplotlib-3.10.1-cp311-cp311-win_amd64.whl (8.1 MB)
Using cached contourpy-1.3.1-cp311-cp311-win_amd64.whl (219 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.57.0-cp311-cp311-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.2 MB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 5.6 MB/s eta 0:00:00
Using cached kiwisolver-1.4.8-cp311-cp311-win_amd64.whl (71 kB)
Using cached pillow-11.1.0-cp311-cp311-win_amd64.whl (2.6 MB)
Using cached pyparsing-3.2.3-py3-none-any.whl (111 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.57.0 kiwisolver-1.4.8 matplotlib-3.10.1 pillow-11.1.0 pyparsing-3.2.3
Note: you may need to restart the kernel to use updated packages.
Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from seaborn) (2.2.4)
Requirement already satisfied: pandas>=1.2 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from seaborn) (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\nise_\onedrive\documentos\digital college\python\da18\desafio_vendas\desafio_vendas\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

### Etapa 2: Importa√ß√£o de bibliotecas

**Exerc√≠cio:** Execute o c√≥digo abaixo para importar as bibliotecas que ser√£o usadas neste notebook.

In [2]:
import pandas as pd
import numpy as np
import chardet
import matplotlib.pyplot as plt
import seaborn as sns

### Etapa 3: Como descobrir encoding do arquivo CSV

üö® **Exerc√≠cio:** Use a biblioteca `chardet` para descobrir o encoding do arquivo `base_vendas.csv` e `categorias_valores.csv`.

In [3]:
rawdata = open('categorias_valores.csv', 'rb').read()
encoding2 = chardet.detect(rawdata)['encoding']
print('Encoding detectado:', encoding2)

Encoding detectado: utf-8

### ‚ÑπÔ∏è Entendendo o que √© *Encoding*

Quando lemos arquivos `.csv`, precisamos informar ao Python **como os caracteres est√£o codificados** no arquivo. Essa codifica√ß√£o √© chamada de **encoding**.

üìå **Encoding** √© o formato que traduz os textos em bytes para que possam ser armazenados em arquivos.

Os encodings mais comuns s√£o:

- **UTF-8**: √â o mais utilizado atualmente. Compat√≠vel com acentos, s√≠mbolos e idiomas diversos. √â a codifica√ß√£o padr√£o na internet.
- **ISO-8859-1** (ou Latin-1): Era muito usada em arquivos de sistemas antigos ou exporta√ß√µes do Excel em portugu√™s. Tamb√©m suporta acentos, mas com codifica√ß√£o diferente da UTF-8.

‚ö†Ô∏è Se o encoding for informado errado, os dados podem aparecer com caracteres quebrados, como `√É¬©` em vez de `√©`.

‚úÖ Por isso usamos a biblioteca `chardet` para detectar automaticamente o encoding antes de carregar os dados com `pd.read_csv(...)`.

Exemplo pr√°tico:
```python
df = pd.read_csv("base_vendas.csv", encoding="ISO-8859-1", sep=";")

### Etapa 3.1: Crie o dataframe com os arquivos csv.

In [4]:
df_vendas = pd.read_csv('base_vendas.csv', encoding="ISO-8859-1", sep=';')
df_categorias = pd.read_csv('categorias_valores.csv', encoding='utf-8', sep=',')

### Etapa 4: Estrutura e Diagn√≥stico Inicial dos Dados (EDA)

Antes de partirmos para a explora√ß√£o gr√°fica, vamos entender a estrutura da base:

In [5]:
# Veja as primeiras linhas do dataframe de vendas
df_vendas.head(10)

,cod_produto,nome_produto,categoria_produto,segmento_produto,marca_produto,cod_vendedor,nome_vendedor,cod_loja,cidade_loja,estado_loja,data_venda,valor_venda
0,SKU-0000001,LG K10 TV Power,Celulares,Corporativo,LG,1009,Ana Teixeira,SP8821,S√£o Paulo,S√£o Paulo,04/10/2012,679.00
1,SKU-0000002,Geladeira Duplex,Eletrodom√©sticos,Dom√©stico,Brastemp,1006,Josias Silva,SP8821,S√£o Paulo,S√£o Paulo,01/01/2012,832.00
2,SKU-0000003,Lavadora 11 Kg,Eletrodom√©sticos,Dom√©stico,Brastemp,1006,Josias Silva,SP8821,S√£o Paulo,S√£o Paulo,02/02/2012,790.00
3,SKU-0000004,Lavadora 11 Kg,Eletrodom√©sticos,Dom√©stico,Brastemp,1003,Mateus Gon√ßalves,SP8821,S√£o Paulo,S√£o Paulo,03/03/2012,765.32
4,SKU-0000005,Lavadora 11 Kg,Eletrodom√©sticos,Dom√©stico,Electrolux,1004,Artur Moreira,SP8821,S√£o Paulo,S√£o Paulo,04/04/2012,459.89
5,SKU-0000006,Lavadora 11 Kg,Eletrodom√©sticos,Dom√©stico,Brastemp,1005,Rodrigo Fagundes,SP8821,S√£o Paulo,S√£o Paulo,04/05/2012,590.98
6,SKU-0000007,Geladeira Duplex,Eletrodom√©sticos,Dom√©stico,Brastemp,1006,Josias Silva,SP8821,S√£o Paulo,S√£o Paulo,04/06/2012,1000.91
7,SKU-0000008,Geladeira Duplex,Eletrodom√©sticos,Dom√©stico,Electrolux,1007,Fernando Zambrini,A9990,Belo Horizonte,Minas Gerais,04/07/2012,1229.00
8,SKU-0000009,Geladeira Duplex,Eletrodom√©sticos,Dom√©stico,Brastemp,1003,Mateus Gon√ßalves,SP8821,S√£o Paulo,S√£o Paulo,04/08/2012,1300.00
9,SKU-0000010,Geladeira Duplex,Eletrodom√©sticos,Dom√©stico,Electrolux,1002,Andr√© Pereira,SP8821,S√£o Paulo,S√£o Paulo,04/09/2012,1290.00

In [7]:
# Veja as primeiras linhas do dataframe de categorias
df_categorias.head()

          Categoria  Valor
0         Celulares   1.20
1  Eletrodom√©sticos   1.15
2       Eletr√¥nicos   1.23
3   Eletroport√°teis   2.00

In [8]:
# Verifique os tipos de dados e colunas do dataframs de vendas
df_vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cod_produto        457 non-null    object
 1   nome_produto       457 non-null    object
 2   categoria_produto  457 non-null    object
 3   segmento_produto   457 non-null    object
 4   marca_produto      457 non-null    object
 5   cod_vendedor       457 non-null    int64
 6   nome_vendedor      457 non-null    object
 7   cod_loja           457 non-null    object
 8   cidade_loja        457 non-null    object
 9   estado_loja        457 non-null    object
 10  data_venda         457 non-null    object
 11  valor_venda        457 non-null    float64
dtypes: float64(1), int64(1), object(10)
memory usage: 43.0+ KB

In [25]:
# Verifique os tipos de dados e colunas do dataframs de vendas
df_vendas.dtypes

cod_produto           object
nome_produto          object
categoria_produto     object
segmento_produto      object
marca_produto         object
cod_vendedor           int64
nome_vendedor         object
cod_loja              object
cidade_loja           object
estado_loja           object
data_venda            object
valor_venda          float64
dtype: object

In [11]:
# Verifique os tipos de dados e colunas do dataframe de categorias
df_categorias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Categoria  4 non-null      object
 1   Valor      4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 196.0+ bytes

In [12]:
# Verifique os valores nulos do dataframe de vendas.
df_vendas.isnull().sum()

cod_produto          0
nome_produto         0
categoria_produto    0
segmento_produto     0
marca_produto        0
cod_vendedor         0
nome_vendedor        0
cod_loja             0
cidade_loja          0
estado_loja          0
data_venda           0
valor_venda          0
dtype: int64

In [13]:
# Verifique os valores nulos do dataframe de categorias
df_categorias.isnull().sum()

Categoria    0
Valor        0
dtype: int64

In [14]:
# Verifique a estatistica das colunas textuais do dataframe de categorias.
df_categorias.describe(include='object')

        Categoria
count           4
unique          4
top     Celulares
freq            1

In [16]:
# Verifique a estatistica das colunas textuais do dataframe de vendas.
df_vendas.describe(include='object')

,cod_produto,nome_produto,categoria_produto,segmento_produto,marca_produto,nome_vendedor,cod_loja,cidade_loja,estado_loja,data_venda
count,457,457,457,457,457,457,457,457,457,457
unique,457,19,4,3,14,9,14,10,6,108
top,SKU-0000457,Geladeira Duplex,Eletrodom√©sticos,Dom√©stico,Brastemp,Andr√© Pereira,SP8822,S√£o Paulo,S√£o Paulo,02/07/2015
freq,1,110,226,405,94,84,98,205,214,16

In [26]:
# Verifique a estatistica das colunas num√©ricas do dataframe de vendas.
df_vendas.describe()

       cod_vendedor  valor_venda
count    457.000000   457.000000
mean    1004.091904   790.111838
std        2.456704   755.541075
min     1001.000000    12.000000
25%     1002.000000   167.000000
50%     1004.000000   671.000000
75%     1006.000000  1230.000000
max     1009.000000  3999.000000

In [27]:
# Verifique a estatistica das colunas num√©ricas do dataframe de categorias.
df_categorias.describe()

          Valor
count  4.000000
mean   1.395000
std    0.404681
min    1.150000
25%    1.187500
50%    1.215000
75%    1.422500
max    2.000000

In [19]:
# Verifique os valores √∫nicos da coluna 'Categoria' do dataframe de categorias.
df_categorias['Categoria'].unique()

array(['Celulares', 'Eletrodom√©sticos', 'Eletr√¥nicos', 'Eletroport√°teis'],
      dtype=object)

In [20]:
# Verifique os valores √∫nicos da coluna 'categoria_produto' do dataframe de vendas.
df_vendas['categoria_produto'].unique()

array(['Celulares', 'Eletrodom√©sticos', 'Eletr√¥nicos', 'Eletroport√°teis'],
      dtype=object)

In [21]:
# Verifique os valores √∫nicos da coluna 'nome_vendedor' do dataframe de vendas.
df_vendas['nome_vendedor'].unique()

array(['Ana Teixeira', 'Josias Silva', 'Mateus Gon√ßalves',
       'Artur Moreira', 'Rodrigo Fagundes', 'Fernando Zambrini',
       'Andr√© Pereira', 'Maria Fernandes', 'Aline Sutter'], dtype=object)

In [28]:
# Verifique os valores √∫nicos da coluna 'categoria_produto' do dataframe de vendas fazendo a contagem nos resultados.
df_vendas['categoria_produto'].value_counts()

categoria_produto
Eletrodom√©sticos    226
Eletroport√°teis     124
Eletr√¥nicos          60
Celulares            47
Name: count, dtype: int64

In [23]:
# Verifique a estat√≠stica da categoria do produto por valor de venda.
df_vendas.groupby('categoria_produto')['valor_venda'].describe()

,count,mean,std,min,25%,50%,75%,max
categoria_produto,,,,,,,,
Celulares,47.0,2104.936170,1319.291747,679.0,1230.0,1230.00,3999.0000,3999.00
Eletrodom√©sticos,226.0,861.788097,417.850493,120.0,455.0,875.50,1234.1200,1899.00
Eletroport√°teis,124.0,153.672984,82.246400,12.0,128.0,149.00,149.0000,765.45
Eletr√¥nicos,60.0,805.492500,355.799299,234.0,456.0,739.17,1000.4925,1788.00

### Etapa 5: An√°lise Gr√°fica

Agora sim, vamos explorar graficamente os dados!

##### Plot um Histograma de Distribui√ß√£o dos Valores de Venda

##### Plot um Gr√°fico de barras por marca de produto

##### Plot um Boxplot por categoria (para visualizar dispers√£o dos valores.

### Etapa 6: Quest√µes **DESAFIO**
üö® **Desafio 1:** Renomeie a coluna `valor` para `percentual_aumento` e una os dois DataFrames.

üö® **Desafio 2:** Crie uma nova coluna no resultado do ultimo dataframe criado chamada `venda_final` aplicando o percentual de aumento.

üö® **Desafio 3:** Fa√ßa uma visualiza√ß√£o agrupado por `categoria` e gerado um gr√°fico comparando os valores originais e com aumento.

üö® **Desafio 4:** Fa√ßa uma an√°lise Calculando a comiss√£o de 2,5% para cada vendedor.

üö® **Desafio 5** Gere um gr√°fico com a comiss√£o dos vendedores, calculados no desafio anterior.

üö® **Desafio 6:** Transforme a coluna `data_venda` em formato de data e crie uma nova coluna `ano` com o ano da venda.

üö® **Desafio 7:** Calcule o total de vendas por ano.

üö® **Desafio 8:** Crie um gr√°fico de pizza com a distribui√ß√£o percentual de vendas por categorias.

üö® **Desafio 9:** Escreva abaixo ao menos 2 insights baseados nas an√°lises anteriores.

---Exemplo:
- Qual categoria mais fatura?
- Qual vendedor teve a maior comiss√£o?
- Houve crescimento ano a ano?

In [ ]:
# Escreva seus insights aqui:
# 1.
# 2.

üö® **Desafio 10:** Exporte os dados finais de categoria e comiss√£o para arquivos CSV.

---

### üõí Desafio Extra ‚Äî Projeto de Vendas com PostgreSQL usando psycopg2 e ipython-sql.

Agora que voc√™ finalizou a an√°lise dos dados de vendas, chegou o momento de estruturar tudo como um banco de dados relacional real!

Neste desafio, voc√™ ir√°:

‚úÖ Conectar ao PostgreSQL  
‚úÖ Criar as tabelas via SQL  
‚úÖ Inserir os dados linha a linha a partir do DataFrame (o dataframe gerado da Venda o qual calculamos a venda com aumento) .
‚úÖ Realizar algumas consultas de neg√≥cio com SQL puro  

---

#### üéØ Objetivo

Transformar os dados do seu projeto de vendas em um banco PostgreSQL, criando uma tabela chamada `vendas_final`, contendo as informa√ß√µes abaixo:

##### üß± Estrutura esperada da tabela `vendas_final`

| Campo           | Tipo     | Descri√ß√£o                            |
|-----------------|----------|--------------------------------------|
| cod_produto     | texto    | C√≥digo identificador do produto      |
| nome_produto    | texto    | Nome do produto                      |
| categoria       | texto    | Categoria do produto                 |
| valor_venda     | num√©rico | Valor original da venda              |
| venda_final     | num√©rico | Valor com aumento aplicado           |
| nome_vendedor   | texto    | Nome do vendedor respons√°vel         |
| data_venda      | data     | Data em que ocorreu a venda          |

---

#### üîå Etapa 1 ‚Äî Conectando ao banco PostgreSQL (Dica)

```python
import psycopg2

try:
    conn = psycopg2.connect(
        host="localhost",
        database="aula01",
        user="postgres",
        password="1234"
    )
    print("Conex√£o bem sucedida!")
except Exception as e:
    print("Erro ao conectar ao banco de dados:", e)

# Criar o cursor
crsr = conn.cursor()

```
#### üîë Etapa 2 ‚Äî Crie as tabelas com SQL com Python;
#### üîé Etapa 3 - Inserir os dados na tabela apartir do dataframe.
#### üì• Etapa 4 - Realizar algumas consultas de neg√≥cio com SQL puro.

- Qual foi o total de vendas por categoria?
- Quem foram os 3 vendedores que mais venderam?
- Qual a m√©dia de valor final de venda?


#### üì¶ Entreg√°veis do Desafio:

‚úÖ Notebook .ipynb com:

- Conex√£o via psycopg2;
- Cria√ß√£o da tabela vendas_final;
- Inser√ß√£o linha a linha dos dados;
- Banco PostgreSQL populado com os dados corretos;
- Execu√ß√£o de 3 consultas SQL obrigat√≥rias;

‚úÖ Entrega do Projeto:

- Subir o projeto no GITHUB, documentado e me enviar o link do reposit√≥rio por email.
- Ou enviar o projeto por e-mail: nayara.valevskii@gmail.com

#### DICA:

Aproveite o projeto para o portf√≥lio, documente e post no Linkedin.

Boa sorte, galerinhaaa! üî•